/* CSS Externo */

/* Google Fontes */

@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Quintessential&display=swap');


/* Definir as cores Tema Dark */
/* raiz */
:root,
:root[data-theme='dark'] {
    --cor-fundo: #1b1b1b;
    --cor-texto: #ad9ffc;
    --menu-link: #ad9ffc;


    --cor-borda: rgb(29, 20, 71);

}

:root[data-theme='light'] {
    --cor-fundo: #9ab0c9;
    --cor-texto: #35547c;
    --menu-link: #454147;

}


/*Inverter color logo*/
html[data-theme='light'] .logo {
    filter: invert(1);

}


/* Reset CSS= padronizar*/

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;


}

/*sualizar o efeito de rolagem*/

html {

    scroll-behavior: smooth;


}

body {
    background: var(--cor-fundo);
    /* cor fundo */
    color: var(--cor-texto);
    /* cor TEXTOS */
    font-family: "Cinzel Decorative", serif;
}

a {
    color: var(--menu-link);
    text-decoration: none;
}

ul {
    list-style: none;
    /* Estilo de Lista */
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: var(--cor-fundo);
    border-bottom: 5px solid var(--cor-borda);
    position: fixed;
    /*volta*/
    z-index: 9999;
    /*camadas*/
    padding: .5rem 1rem;
}

.menu-desktop {
    background: var(--cor-fundo);
    display: none;
    /* esconde o menu desktop */

}

/* NAV = UL // OL */
.menu {
    display: flex;
    /* em linha // horizontal */
    gap: 1rem;
    /* 16px */
    align-items: center;
}

/* LI = listas */
.menu-item {
    width: 100%;
}

.menu-link {
    display: flex;
    align-items: center;
}

.menu-text {
    color: var(--menu-link);
    font-size: 1.3rem;
    text-transform: unset;
}

/*--- Menu Hamburger
botao menu mobile  ----- */

#menuHamburger {
    margin-left: 1rem;
}

.btn-menu-mobile {
    background: transparent;
    border: none;
    cursor: pointer;
    color: var(--cor-texto);
    display: flex;
    font-size: 2.8rem;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.menu-mobile {
    /* NAV */
    position: fixed;
    top: 0;
    right: 0;
    background: var(--cor-fundo);
    width: 75%;
    height: 100vh;
    /* viewPort Altura */
    border-left: 1px solid var(--cor-borda);
    max-width: 320px;
    display: flex;
    flex-direction: column;
    padding-top: 4rem;
    transition: .3s ease-in-out;
    /* voltar aqui */
    transform: translateX(100%);
}

/* Ativar o Menu Mobile */
.menu-mobile.active {
    transform: translateX(0%);
}

.menu-mobile
/* nav */
.menu-list

/* UL */
    {
    display: flex;
    flex-direction: column;
    /* EIXO Y = Vertical */
    gap: 1rem;
    width: 100%;
    padding: 1rem 1rem 2rem;
}

.menu-mobile .menu-item {
    width: 100%;
    text-align: center;
}

.menu-mobile .menu-link {
    padding: 2rem 1rem;
    display: inline-block;
    font-size: 1rem;
}


.logo {

    width: 5rem;
    /*comprimento*/
    /* height: 5.70rem; */
    /*altura*/

}

.header-toggle {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#home {
    padding: 9rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
}

h1 {
    font-size: 2.5rem;
    font-family: "Cinzel Decorative", serif;
}

h2 {
    font-family: "Euphoria Script", cursive;
    font-size: 2rem;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
    font-weight: 300;
}


h3 {
    font-size: 1.55rem;
    font-family: 'Arial', sans-serif;
    font-style: italic;
}

.video iframe {

    aspect-ratio: 16/9;

}

#home,
.projetos {
    padding: 5rem 4rem 2rem 4rem;
}

.descricao-video {
    display: flex;
    background-color: rgb(0, 0, 0);
    padding: 7rem 7rem 3rem;
    align-items: center;
    justify-content: flex-start;
    margin-top: 0rem;
}

.descricao-video h2 {
    font-style: 10rem;
    text-transform: uppercase;
    margin-top: -2rem;
    font-family: "Carattere", cursive;
    /*letter-spacing: ;*/
}

.projetos {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.projetos-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.projeto-card {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.img-card {
    width: 100%;
    border-radius: .5rem;

}

.card-body {

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: end;
    gap: 1rem;
}

.card-item {

    color: ;
    /*cor do texto*/
    font-size: 1rem;
    /* tamanho do texto*/
    font-weight: 7rem;
    /* largura das letras*/
    font-family: "Carattere", cursive;
    /* estilo das fontes*/
}

.card-titulo {
    color: aqua;
}

.card-descricao {
    color: orange;
}


.main-content {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

/* Medidas Responsivas */

@media(max-width:768px) {
    #home {
        padding-top: 8rem;
    }
}


@media (min-width: 768px) {

    #home {
        padding: 0%;
    }

    .menu-desktop {
        display: flex;
        min-width: 40%;
        /*Alinhar logo*/
    }

    header {
        padding: 1rem 4rem;
    }

    h1 {

        font: 5rem;
    }


    h2 {
        font-size: 3rem;
    }

    h3 {
        font-size: 2.5rem;


    }

    #home,
    .projetos {
        padding: 8rem 6rem 4rem 6rem;
    }

    .main-content {
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .btn-menu-mobile {
        display: none;
    }

    .header-toggle {
        min-width: 30%;
    }
}

/*FIM min 768px*/

@media (min-width:992px) {
    .projeto-card {
        flex-direction: row;
    }

    .img-card {
        width: 50%;
    }

    .reverse-card {
        /*espelhar*/
        flex-direction: row-reverse;
    }

}

@media (min-width: 1200px) {

    h2 {
        font-size: 4rem;
        color: #ad9ffc;
    }



}


@media (min-width: 1400px) {}

h1 {

    font-size: 3rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {

    font-size: 2.25rem;
}

.decricao-video,
.projetos {

    padding: 10rem 15rem 4rem;
}